In [14]:
import pandas as pd
import re
from collections import Counter

In [3]:
user = pd.read_json('Dataset/baidu/user.json')
user.head(5)

,ID,tweet,profile
0,15750898,[A family fears they may have been cheated out...,"{'id': 15750898, 'id_str': '15750898', 'name':..."
1,1659167666,[RT @VonteThePlug: Yeah but he ain’t got one h...,"{'id': 1659167666, 'id_str': '1659167666', 'na..."
2,34743251,"[RT @elonmusk: Aloha, welcome back from space ...","{'id': 34743251, 'id_str': '34743251', 'name':..."
3,207809313,[एक राष्ट्र - एक राशन कार्ड की ओर अग्रसर भारत\...,"{'id': 207809313, 'id_str': '207809313', 'name..."
4,24212655,[RT @dominiquecrenn: So much negativity and go...,"{'id': 24212655, 'id_str': '24212655', 'name':..."

In [7]:
tweet = user['tweet']

In [17]:
len(tweet)

24696

In [15]:
all_hashtags = []
analy_user_tweet = tweet[0]
hashtag_extract = [re.findall(r'#(\w+)', line) for line in analy_user_tweet]
hashtags = [word for sublist in hashtag_extract for word in sublist]
all_hashtags.extend(hashtags)

hashtag_freq = Counter(all_hashtags)
print(hashtag_freq)

Counter({'Laura': 10, 'Florida': 8, 'BREAKING': 8, 'sunset': 5, 'Marco': 5, 'Skytower': 2, 'DNC2020': 2, 'RaysUp': 2, 'StanleyCup': 2, 'Sarasota': 1, 'Tampa': 1, 'GOESEast': 1, 'GoodDayTB': 1, 'SundayMorning': 1, 'GoodDayTampaBay': 1, 'TropicalStormLaura': 1, 'skytower': 1, 'TD14': 1, 'sarasota': 1, 'manatee': 1, '13': 1, 'ALERT': 1, 'RaysWin': 1, 'GoBolts': 1, 'BeTheDistantThunder': 1, 'BOLTSWIN': 1})